<div class="blue lighten-2 col s12 m12 l12 center white-text text-darken-1" style="background-image:url(assets/img/happy_students.jpg);background-position:0 30%;background-size:cover;">
<div style="background:rgba(0,0,0,.5);">

<h1 class="">ALC Assessment</h1>
<strong>Task to create a node server and front-end controller for requesting and serving student resources</strong>



<div class="row" style="margin:none;">

<% include navbar.ejs %>
</div>
</div>

</div>
