

<nav class="">
<div class="nav-wrapper blue" >
<a href="#" class="brand-logo right hide-on-small-only"><h5>Designed by: Ifeanyi Michael</h5></a>
<ul id="nav-mobile" class="left">
<li><a href=" /"><i class="fa fa-home"></i> Home</a></li>
<li><a href="add_student"><i class="fa fa-user-plus"></i> Add Student</a></li>
<li><a href="view_student"><i class="fa fa-eye"></i> View Student</a></li>
<li><a href="show_update">Update Student Details</a></li>
<li><a href="show_delete"><i class="fa fa-user-times"></i> Delete Student Details</a></li>
</ul>
</div>
</nav>
