<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Alc Accessment - Student view</title>

  <link rel="stylesheet" href="assets/styles/style.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/materialize.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/font-awesome.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/animated.css" type="text/css" />
  <link rel="stylesheet" href="assets/css/animate.css" type="text/css" />

  <script src="assets/js/jQuery-1.10.2.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/js/wow.min.js"></script>
</head>

<body>
  <% include partials/header.ejs %>

<div class="row card-panel center">

<div class="col s12 m12 l12">
<h3 class=''> <%= msg %> </h3>
</div>
</div>
</body>
</html>
